CMS
Submission
TA/TA-C2-2568/Tower/testcase
TA/TA-C2-2568/Tower/testcase.zip
TA/TA-C2-2568/Tower/testcase2.zip
TA/TA-C2-2568/Tower/input/
TA/TA-C2-2568/Tower/output/
TA/TA-C2-2568/Magic_Tournament/testcase
TA/TA-C2-2568/Magic_Tournament/magic_tournament.zip
TA/TA-C2-2568/Magic_Tournament/testcase2.zip
TA/TA-C2-2568/Magic_Tournament/input/
TA/TA-C2-2568/Magic_Tournament/output/
TA/TA-C2-2568/Interstellar_Signal/testcases
TA/TA-C2-2568/Interstellar_Signal/intersteller_signal.zip
TA/TA-C2-2568/Interstellar_Signal/testcase2.zip
TA/TA-C2-2568/Interstellar_Signal/input/
TA/TA-C2-2568/Interstellar_Signal/output/